/* team logos */

#bigboard .h1836 {
	background-image: url("logos/1836.png");
}

#bigboard .aggies {
	background-image: url("logos/aggies.png");
}

#bigboard .ajax {
	background-image: url("logos/ajax.png");
}

#bigboard .arsenal {
	background-image: url("logos/arsenal.png");
}

#bigboard .avfc {
	background-image: url("logos/avfc.png");
}

#bigboard .blues {
	background-image: url("logos/blues.png");
}

#bigboard .buccaneers1976 {
	background-image: url("logos/buccaneers1976.png");
}

#bigboard .buckeyes {
	background-image: url("logos/buckeyes.png");
}

#bigboard .cardiffcity {
	background-image: url("logos/cardiffcity.png");
}

#bigboard .cardinal {
	background-image: url("logos/cardinal.png");
}

#bigboard .chargers2002 {
	background-image: url("logos/chargers2002.png");
}

#bigboard .chelsea {
	background-image: url("logos/chelsea.png");
}

#bigboard .cibaenas {
	background-image: url("logos/cibaenas.png");
}

#bigboard .colt45s {
	background-image: url("logos/colt45s.png");
}

#bigboard .crusaders {
	background-image: url("logos/crusaders.png");
}

#bigboard .ct {
	background-image: url("logos/ct.png");
}

#bigboard .diamondjaxx {
	background-image: url("logos/diamondjaxx.png");
}

#bigboard .dolphins1997 {
	background-image: url("logos/dolphins1997.png");
}

#bigboard .ecb {
	background-image: url("logos/ecb.png");
}

#bigboard .everton {
	background-image: url("logos/everton.png");
}

#bigboard .flyingtigers {
	background-image: url("logos/flyingtigers.png");
}

#bigboard .hokies {
	background-image: url("logos/hokies.png");
}

#bigboard .jaguars1995 {
	background-image: url("logos/jaguars1995.png");
}

#bigboard .lions2003 {
	background-image: url("logos/lions2003.png");
}

#bigboard .longhorns {
	background-image: url("logos/longhorns.png");
}

#bigboard .mavericks {
	background-image: url("logos/mavericks.png");
}

#bigboard .nittanylions {
	background-image: url("logos/nittanylions.png");
}

#bigboard .panthers1995 {
	background-image: url("logos/panthers1995.png");
}

#bigboard .penguins {
	background-image: url("logos/penguins.png");
}

#bigboard .pirates {
	background-image: url("logos/pirates.png");
}

#bigboard .realmadrid {
	background-image: url("logos/realmadrid.png");
}

#bigboard .redsox {
	background-image: url("logos/redsox.png");
}

#bigboard .redstockings {
	background-image: url("logos/redstockings.png");
}

#bigboard .revolution {
	background-image: url("logos/revolution.png");
}

#bigboard .sabres {
	background-image: url("logos/sabres.png");
}

#bigboard .seahawks2002 {
	background-image: url("logos/seahawks2002.png");
}

#bigboard .stallions {
	background-image: url("logos/stallions.png");
}

#bigboard .stars {
	background-image: url("logos/stars.png");
}

#bigboard .tigers {
	background-image: url("logos/tigers.png");
}

#bigboard .tottenham {
	background-image: url("logos/tottenham.png");
}

#bigboard .usmnt {
	background-image: url("logos/usmnt.png");
}

#bigboard .vikings1966 {
	background-image: url("logos/vikings1966.png");
}

#bigboard .wranglers {
	background-image: url("logos/wranglers.png");
}

#bigboard .yankees {
	background-image: url("logos/yankees.png");
}

#bigboard .astros {
	background-image: url("logos/astros.png");
}

#bigboard .niners {
	background-image: url("logos/niners.png");
}

#bigboard .bears {
	background-image: url("logos/bears.png");
}

#bigboard .bengals {
	background-image: url("logos/bengals.png");
}

#bigboard .bills {
	background-image: url("logos/bills.png");
}

#bigboard .broncos {
	background-image: url("logos/broncos.png");
}

#bigboard .browns {
	background-image: url("logos/browns.png");
}

#bigboard .buccaneers {
	background-image: url("logos/buccaneers.png");
}

#bigboard .cardinals {
	background-image: url("logos/cardinals.png");
}

#bigboard .chargers {
	background-image: url("logos/chargers.png");
}

#bigboard .chiefs {
	background-image: url("logos/chiefs.png");
}

#bigboard .colts {
	background-image: url("logos/colts.png");
}

#bigboard .cowboys {
	background-image: url("logos/cowboys.png");
}

#bigboard .dolphins {
	background-image: url("logos/dolphins.png");
}

#bigboard .eagles {
	background-image: url("logos/eagles.png");
}

#bigboard .falcons {
	background-image: url("logos/falcons.png");
}

#bigboard .giants {
	background-image: url("logos/giants.png");
}

#bigboard .jaguars {
	background-image: url("logos/jaguars.png");
}

#bigboard .jets {
	background-image: url("logos/jets.png");
}

#bigboard .lions {
	background-image: url("logos/lions.png");
}

#bigboard .longhorns {
	background-image: url("logos/longhorns.png");
}

#bigboard .oilers {
	background-image: url("logos/oilers.png");
}

#bigboard .packers {
	background-image: url("logos/packers.png");
}

#bigboard .panthers {
	background-image: url("logos/panthers.png");
}

#bigboard .patriots {
	background-image: url("logos/patriots.png");
}

#bigboard .raiders {
	background-image: url("logos/raiders.png");
}

#bigboard .rams {
	background-image: url("logos/rams.png");
}

#bigboard .ravens {
	background-image: url("logos/ravens.png");
}

#bigboard .redskins {
	background-image: url("logos/redskins.png");
}

#bigboard .saints {
	background-image: url("logos/saints.png");
}

#bigboard .seahawks {
	background-image: url("logos/seahawks.png");
}

#bigboard .steelers {
	background-image: url("logos/steelers.png");
}

#bigboard .texans {
	background-image: url("logos/texans.png");
}

#bigboard .titans {
	background-image: url("logos/titans.png");
}

#bigboard .vikings {
	background-image: url("logos/vikings.png");
}
